[submodule ".deps/common"]
	path = .deps/common
	url = https://github.com/unicbm/cs2-dtr-common.git
	branch = main
[submodule ".deps/controller"]
	path = .deps/controller
	url = https://github.com/unicbm/cs2-dtr-controller.git
	branch = main
[submodule ".deps/hider"]
	path = .deps/hider
	url = https://github.com/unicbm/cs2-dtr-hider.git
	branch = main
[submodule ".deps/randomizer"]
	path = .deps/randomizer
	url = https://github.com/unicbm/cs2-dtr-randomizer.git
	branch = main
